---
  dataset:
    dataset_name: "aqua"
    dataset_split: "validation"
    dataset_subset_name: null
    dataset_key_map:
      question: "question"
      choices: "choices"
      answer: "answer"
      id: "id"
  method:
    method_name: "standard"
    method_config_file_path: null
    method_args:
      client_name: "openai"
      transform: "standard.aqua.transform_standard_aqua.StandardAQuATransform"
      extract: "standard.aqua.extract_standard_aqua.StandardAQuAExtract"
      prompt_file_path: "standard/aqua/prompt.txt"
      max_tokens: 512
      temperature: 0
      engine: code-davinci-002
      stop_sequence: "\n\n"
  metrics:
    - "exact_match"
