---
  dataset:
    dataset_name: "add_sub"
    dataset_split: "validation"
    dataset_subset_name: null
    dataset_key_map:
      question: "sQuestion"
      answer: "lSolutions"
      id: "id"
  method:
    method_name: "standard"
    method_config_file_path: null
    method_args:
      client_name: "openai"
      transform: "standard.add_sub.transform_standard_add_sub.StandardAddSubTransform"
      prompt_file_path: "standard/add_sub/prompt.txt"
      max_tokens: 512
      temperature: 0
      engine: code-davinci-002
      stop_sequence: "\n\n"
  metrics:
    - "exact_match"
